<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', { data: 'I\'m connected!' });
        });
    </script>
    <title>Tanky 2.0</title>
</head>
<body>
    <h1>Tanky 2.0 Controller</h1>

    <div id="box">
        <div class="button-div" id="vertical-div">
            <button id="forward" type="button" onclick="socket.emit('forward')">Vorne</button>
            <button id="vertical-stop" type="button" onclick="socket.emit('stop')">Stop</button>
            <button id="backward" type="button" onclick="socket.emit('backward')">Hinten</button>
        </div>
        <div class="button-div" id="horizontal-div">
            <button id="left" type="button" onclick="socket.emit('left')">Links</button>
            <button id="right" type="button" onclick="socket.emit('right')">Rechts</button>
        </div>
    </div>
</body>
</html>
<style>
#box{
    font-size: large;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
}
.button-div {
    display: flex;
    padding: 5px;
}
#vertical-div{
    flex-direction: column;
}

#horizontal-div{
    height: 48px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
</style>